<script setup lang="ts">
import { useAddressBookStore } from '@/stores/addressBookStore';
import AddressBookFrom from './AddressBookForm.vue';
import AddressBookList from './AddressBookList.vue'

const addressBookStore = useAddressBookStore()

</script>

<template>
  <div>
    <AddressBookFrom></AddressBookFrom>
    <AddressBookList></AddressBookList>
    
  </div>
  
</template>


<style scoped>
input, select, label, button {
  font-family: 'Poppins';
  font-size: 20pt;
  margin: 5px;
}
</style>