<script setup lang="ts">
import MessageList from '@/components/MessageList.vue';
import MessageBox from '@/components/MessageBox.vue';
import { ref , nextTick} from 'vue';
const messages = ref<string[]>([])
const messageList = ref<typeof MessageList | null>(null)
const answers =['Hi!', 'How are you today?', 'I am fine', 'Nice to meet you']
function send(message:string){
  messages.value.push(message)
  answerWithComputer()

}
function answerWithComputer(){
  const ranAns = Math.floor(Math.random()*10000)%answerWithComputer.length
  const answer = answers[ranAns]
  messages.value.push(answer)
  nextTick(() => {
    MessageList.value?.updateUI()
  })
 
}
</script>

<template>
  <div>
    <MessageList ref="messageList" :messages=" messages"></MessageList>
    <MessageBox @send="send"></MessageBox>
  </div>
  
</template>
